*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.nav-header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: .5rem;
}

/* body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.teahub.io/photos/full/102-1021869_cine-wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
} */


#body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagenes/backgrounds/cyberpunk.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.registro{
    background-color: black;
    border-radius: 3%;
    width: 40%;
    height: 900px;
    margin-left: 50%;
}

.inicioRegistro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
}

.inicioRegistro a{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-decoration: none;
}
.inicioRegistro img{
    width:20%;
}

.formulario{
    display: flex;
    padding-left: 20%;
}
.formulario input{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    width: 250%;
    height: 40px;
}

#button{
    margin-top: 10%;
    width: 50%;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    background-color: yellow;
    margin-left: 25%;
}

#button:hover{
    box-shadow: 0px 5px 10px white;
    cursor: pointer;
}

.registro p{
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.registro p a{
    color: yellow;
    display: flex;
    justify-content: center;
    padding-left: 2%;
}

#mainLogIn{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagenes/backgrounds/spiderman.jpg);
    background-attachment: fixed;
    background-size: cover;
}

span{
    color: yellow;
    display: flex;
    justify-content: center;
}

.imagenesLogIn img{
    padding-top: 5%;
    width: 80px ;
    margin-left: 15%;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem;
}

.cardContainer{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cardContainer :nth-child(8){
    margin-top: .7rem;
}

#cart{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#cart img{
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorCart{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 5%;
}

.contenedorCart h5{
margin-left: 2%;
}

.contenedorCart div{
    margin-left: 5%;
}
.contenedorCart button{
    margin-left: 10%;
    border: none;
}

.finalizar{
    margin-top: 5%;
}