*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.teahub.io/photos/full/102-1021869_cine-wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
}
header{
text-align: center;
}

nav{
    display: flex;
    background-color: black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    align-items: center;
    justify-content: center;
}

nav h4{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

nav h4:hover{
    cursor: pointer;
    text-shadow: 5px 0px 10px white;
}

nav img{
    width: 5%;
}

main{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 1%;
}

main h2{
    margin-top: 4%;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.carteleraMenores{
    display: flex;
    justify-content: space-around;
    color: black;
    padding-top: 2%;
}

.carteleraMayores{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    color: black;
}

#body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagenes/backgrounds/cyberpunk.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.registro{
    background-color: black;
    border-radius: 3%;
    width: 40%;
    height: 900px;
    margin-left: 50%;
}

.inicioRegistro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
}

.inicioRegistro a{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-decoration: none;
}
.inicioRegistro img{
    width:20%;
}

.formulario{
    display: flex;
    padding-left: 20%;
}
.formulario input{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    width: 250%;
    height: 40px;
}

button{
    margin-top: 10%;
    width: 50%;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    background-color: yellow;
    
}

button:hover{
    box-shadow: 0px 5px 10px white;
    cursor: pointer;
}

.registro p{
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registro p a{
    color: yellow;
}

#mainLogIn{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagenes/backgrounds/spiderman.jpg);
    background-attachment: fixed;
    background-size: cover;
}

span{
    color: yellow;
}

.imagenesLogIn img{
    padding-top: 1%;
    width: 80px ;
}